#layers-toolbar {
  height: 100%;
  flex: 0 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #d0d0d0;
  padding: 10px;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;

  #layers-list {
    .layer-name {
      cursor: pointer;
      &.bold {
        font-weight: bold;
      }
    }
  }
}
